<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shopmanager.dao.SubcataMapper" >
  <resultMap id="BaseResultMap" type="com.shopmanager.model.Subcata" >
    <id column="sub_id" property="subId" jdbcType="INTEGER" />
    <result column="sub_name" property="subName" jdbcType="VARCHAR" />
    <result column="cata_id" property="cataId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sub_id, sub_name, cata_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shopmanager.model.SubcataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from subcata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from subcata
    where sub_id = #{subId,jdbcType=INTEGER}
  </select>
  <select id="selectByCataId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from subcata
    where cata_id = #{cataId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from subcata
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from subcata
    where sub_id = #{subId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shopmanager.model.SubcataExample" >
    delete from subcata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shopmanager.model.Subcata" >
    insert into subcata (sub_id, sub_name, cata_id
      )
    values (#{subId,jdbcType=INTEGER}, #{subName,jdbcType=VARCHAR}, #{cataId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shopmanager.model.Subcata" >
    insert into subcata
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="subId != null" >
        sub_id,
      </if>
      <if test="subName != null" >
        sub_name,
      </if>
      <if test="cataId != null" >
        cata_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="subId != null" >
        #{subId,jdbcType=INTEGER},
      </if>
      <if test="subName != null" >
        #{subName,jdbcType=VARCHAR},
      </if>
      <if test="cataId != null" >
        #{cataId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shopmanager.model.SubcataExample" resultType="java.lang.Integer" >
    select count(*) from subcata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update subcata
    <set >
      <if test="record.subId != null" >
        sub_id = #{record.subId,jdbcType=INTEGER},
      </if>
      <if test="record.subName != null" >
        sub_name = #{record.subName,jdbcType=VARCHAR},
      </if>
      <if test="record.cataId != null" >
        cata_id = #{record.cataId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update subcata
    set sub_id = #{record.subId,jdbcType=INTEGER},
      sub_name = #{record.subName,jdbcType=VARCHAR},
      cata_id = #{record.cataId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shopmanager.model.Subcata" >
    update subcata
    <set >
      <if test="subName != null" >
        sub_name = #{subName,jdbcType=VARCHAR},
      </if>
      <if test="cataId != null" >
        cata_id = #{cataId,jdbcType=INTEGER},
      </if>
    </set>
    where sub_id = #{subId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shopmanager.model.Subcata" >
    update subcata
    set sub_name = #{subName,jdbcType=VARCHAR},
      cata_id = #{cataId,jdbcType=INTEGER}
    where sub_id = #{subId,jdbcType=INTEGER}
  </update>
</mapper>