<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shopmanager.dao.TranInfoMapper" >
  <resultMap id="BaseResultMap" type="com.shopmanager.model.TranInfo" >
    <id column="tran_info_id" property="tranInfoId" jdbcType="INTEGER" />
    <result column="tran_id" property="tranId" jdbcType="VARCHAR" />
    <result column="tran_info_context" property="tranInfoContext" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    tran_info_id, tran_id, tran_info_context
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shopmanager.model.TranInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tran_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tran_info
    where tran_info_id = #{tranInfoId,jdbcType=INTEGER}
  </select>
  <select id="selectByTranId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tran_info
    where tran_id = #{tranId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tran_info
    where tran_info_id = #{tranInfoId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shopmanager.model.TranInfoExample" >
    delete from tran_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shopmanager.model.TranInfo" >
    insert into tran_info (tran_info_id, tran_id, tran_info_context
      )
    values (#{tranInfoId,jdbcType=INTEGER}, #{tranId,jdbcType=VARCHAR}, #{tranInfoContext,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shopmanager.model.TranInfo" >
    insert into tran_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tranInfoId != null" >
        tran_info_id,
      </if>
      <if test="tranId != null" >
        tran_id,
      </if>
      <if test="tranInfoContext != null" >
        tran_info_context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tranInfoId != null" >
        #{tranInfoId,jdbcType=INTEGER},
      </if>
      <if test="tranId != null" >
        #{tranId,jdbcType=VARCHAR},
      </if>
      <if test="tranInfoContext != null" >
        #{tranInfoContext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shopmanager.model.TranInfoExample" resultType="java.lang.Integer" >
    select count(*) from tran_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tran_info
    <set >
      <if test="record.tranInfoId != null" >
        tran_info_id = #{record.tranInfoId,jdbcType=INTEGER},
      </if>
      <if test="record.tranId != null" >
        tran_id = #{record.tranId,jdbcType=VARCHAR},
      </if>
      <if test="record.tranInfoContext != null" >
        tran_info_context = #{record.tranInfoContext,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tran_info
    set tran_info_id = #{record.tranInfoId,jdbcType=INTEGER},
      tran_id = #{record.tranId,jdbcType=VARCHAR},
      tran_info_context = #{record.tranInfoContext,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shopmanager.model.TranInfo" >
    update tran_info
    <set >
      <if test="tranId != null" >
        tran_id = #{tranId,jdbcType=VARCHAR},
      </if>
      <if test="tranInfoContext != null" >
        tran_info_context = #{tranInfoContext,jdbcType=VARCHAR},
      </if>
    </set>
    where tran_info_id = #{tranInfoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shopmanager.model.TranInfo" >
    update tran_info
    set tran_id = #{tranId,jdbcType=VARCHAR},
      tran_info_context = #{tranInfoContext,jdbcType=VARCHAR}
    where tran_info_id = #{tranInfoId,jdbcType=INTEGER}
  </update>
</mapper>